.profile {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    place-items: center;

    &__name {
        color: var(--color-primary);
        font-size: 14px;
        font-weight: 500;
    }

    &__avatar {
        object-fit: cover;
        width: 40px;
        height: 40px;

        border-radius: 50%;
    }
}
